<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logistics_robot_manager.mapper.UserMapper">

    <select id="selectPageByKey" resultType="com.example.logistics_robot_manager.entity.User">
        SELECT * FROM user
        <where>
            <if test="key !=null and key !=''">
                user_id = #{key} OR username LIKE CONCAT('%',#{key},'%')
            </if>
        </where>
    </select>
</mapper>